/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
/* heading */
.super-heading {
  margin: 0 auto;
  text-align: center;
}
.super-heading h1 {
  margin: 20px auto;
  width: fit-content;
  padding: 0 0 20px;
  position: relative;
  font-size: 3em;
  text-transform: uppercase;
  &::before {
    content: "";
    height: 2px;
    background-color: black;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: solid 2px black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.super-heading p {
  line-height: 1.8;
  color: #333;
  width: 550px;
  max-width: 100%;
  margin: 20px auto;
}
/* End Globel */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* heading  */
header {
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: white;
    left: 0px;
    bottom: 0;
  }
  &::after {
    content: "ahmed farrag";
    /* width: 100%; */
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    color: rgb(255 255 255 / 50%);
  }
}
@media (min-width: 791px) {
  header .container::after {
    letter-spacing: 10px;
    bottom: 10px;
  }
}

header .box {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
header .box ul {
  display: flex;
}
header .box ul a {
  text-decoration: none;
  padding: 40px 15px;
  max-width: 100%;
  display: block;
  position: relative;
  text-transform: capitalize;
  color: white;
  &:hover {
    color: var(--main-color);
    border-bottom: 2px solid;
  }
}
header .box li a.active {
  color: var(--main-color);
  border-bottom: 2px solid;
}
header i:last-of-type {
  padding: 10px 0px 10px 20px;
  border-left: 2px solid;
  font-size: 20px;
  color: white;
}
header i:first-of-type {
  margin: 30px;
  color: white;
  font-size: 20px;
}
@media (min-width: 768px) {
  header i:first-of-type {
    display: none;
  }
}
@media (max-width: 769px) {
  header .box ul {
    display: none;
  }
  header .box:hover ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: calc(100% - 30px);
    top: 100px;
    left: 15px;
    background-color: var(--transparent-color);
  }
  header .box:hover ul a {
    padding: 10px;
  }
}
.landing {
  background-image: url(../imges/landing.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000067;
    position: absolute;
  }
}
.landing .box {
  width: 50%;
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.landing .box .text {
  max-width: 400px;
  color: white;
}
@media (max-width: 992px) {
  .landing .box {
    padding-left: 50px;
    width: 70%;
  }
  .landing .box .text {
    max-width: 500px;
  }
}
@media (max-width: 769px) {
  .landing .box {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.landing .box .text h1 {
  font-weight: normal;
  text-transform: capitalize;
}
.landing .box .text p {
  line-height: 2;
}
.landing > i:first-of-type {
  position: absolute;
  left: 15px;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}
.landing > i:last-of-type {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
@media (max-width: 769px) {
  .landing i:last-of-type,
  .landing i:first-of-type {
    display: none;
  }
}
.landing > ul {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}
.landing > ul li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px white;
}
.landing > ul li.active {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
}
/* Services */
.services {
  padding: var(--section-padding) 0;
}
.services .services-contact {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 70px 50px;
  margin-top: 100px;
}
.services .services-contact .card {
  display: flex;
  gap: 30px;
}
.services .services-contact .card i {
  color: var(--main-color);
}
.services .services-contact .card .text h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.services .services-contact .card .text p {
  line-height: 1.8;
  color: #333;
}
@media (max-width: 992px) {
  .services .services-contact {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 769px) {
  .services .services-contact .card {
    flex-direction: column;
    align-items: center;
  }

  .services .services-contact .card .text {
    text-align: center;
  }
}

/* design*/
.design {
  padding: var(--section-padding) 0;
  position: relative;
  background-image: url(../imges/design-features.jpg);
  background-size: cover;
  color: white;
  height: 400px;
  overflow: hidden;
  &::before {
    content: url(../imges/mobile.png);
    bottom: -120px;
    left: 35px;
    position: absolute;
  }
}
@media (max-width: 769px) {
  .design::before {
    display: none;
  }
}
.design .box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  width: 50%;
  max-width: 100%;
  padding: 10px;
  background-color: var(--transparent-color);
}
@media (max-width: 769px) {
  .design .box {
    width: 100%;
    justify-content: center;
  }
}
.design .box h2 {
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 30px;
}
.design .box ul {
  padding-left: 30px;
}
.design .box ul li {
  padding: 10px;
  text-transform: capitalize;
  &::before {
    content: "\f43f";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 1.2em;
  }
}
/* portfolio */
.portfolio {
  padding: var(--section-padding) 0;
}
.portfolio-contact ul {
  display: flex;
  margin: 100px auto 50px;
  width: fit-content;
}
.portfolio-contact ul li {
  padding: 10px;
  text-transform: capitalize;
  &.active {
    color: white;
    background-color: var(--main-color);
  }
}
.portfolio .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}
@media (max-width: 769px) {
  .portfolio .cards {
    grid-template-columns: 1fr;
  }
}
.portfolio-contact .card img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100);
  transition: 0.5s;
}
.portfolio-contact .cards .card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  &:hover .text {
    bottom: 0;
  }
  &:hover img {
    transform: rotate(5deg) scale(1.1);
    filter: grayscale(0);
  }
}

.portfolio-contact .cards .card .text {
  position: absolute;
  bottom: -150px;
  background-color: var(--transparent-color);
  padding: 10px;
  width: 100%;
  transition: 0.5s;
}
.portfolio-contact .cards .card .text h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-color);
}
.portfolio-contact .cards .card .text p {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}
.portfolio-contact button {
  margin: 30px auto 0;
  display: block;
  padding: 10px 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}
/* super video */
.super-video {
  padding: calc(var(--section-padding) / 2) 0;
  position: relative;
}
.super-video .video {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0000006e;
    position: absolute;
  }
}
.super-video video {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.super-video .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent-color);
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  max-height: 100%;
}
.super-video .text h3 {
  margin: 20px;
  text-transform: uppercase;
}
.super-video .text p {
  margin-bottom: 30px;
  font-size: 15px;
}
.super-video .text button {
  margin-bottom: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
/* about  */
.about {
  padding: var(--section-padding) 0 0;
}
.about .about-contact {
  position: relative;
  overflow: hidden;
}
.about .about-contact img {
  max-width: 99%;
  position: relative;
  bottom: -100px;
  margin-left: -3%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}
@media (max-width: 769px) {
  .about .about-contact img {
    margin-top: -50px;
  }
}
.view {
  padding: calc(var(--section-padding) / 2) 0;
  background-image: url(../imges/stats.png);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }
}

.view .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.view .container .card {
  flex-basis: 25%;
  background-color: var(--transparent-color);
  padding: 50px;
  text-align: center;
  color: white;
}
.view .container .card i {
  padding: 10px;
  background-color: black;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
  margin-bottom: 10px;
}
.view .container .card h2 {
  font-size: 3.5em;
}
.view .container .card p {
  margin-top: 10px;
}
@media (max-width: 991px) {
  .view .container .card {
    flex-basis: 50%;
  }
}
@media (max-width: 769px) {
  .view .container .card {
    flex-basis: 100%;
  }
}
.info {
  padding: var(--section-padding) 0;
}
.info .container {
  display: flex;
  gap: 30px;
}

.info .container > div :is(h2) {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 2.5em;
}
.info .container > div > :is(p) {
  text-align: center;
  color: #333;
  font-size: 0.9em;
  line-height: 1.8;
}
@media (max-width: 769px) {
  .info .container {
    flex-direction: column;
    gap: 70px;
  }
}
.info .testimonials {
  position: relative;
  padding-bottom: 50px;
}
.info .testimonials .box {
  margin-top: 30px;
}
.info .testimonials .card {
  display: flex;
  align-items: flex-start;
}
.info .testimonials .box .card img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}
.info .testimonials .box :first-child .text {
  border-bottom: 1px solid #33333365;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.info .testimonials .box .card .text p {
  margin-bottom: 10px;
  color: #333;
  line-height: 1.8;
}
.info .testimonials .box .card .text span {
  display: flex;
  justify-content: end;
  color: #33333381;
  text-transform: capitalize;
}
@media (max-width: 769px) {
  .info .testimonials .box .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info .testimonials .box .card img {
    margin-bottom: 30px;
  }
}
.testimonials ul {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}
.testimonials ul li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px rgb(0, 0, 0);
}
.testimonials ul li.active {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
}
.info .skills ul li .prog {
  height: 20px;
  background-color: #ddd;
  margin-top: 20px;
}
.info .skills ul li h3 {
  text-transform: capitalize;
}
.info .skills ul li .prog span {
  background-color: var(--main-color);
  display: block;
  height: 100%;
  position: relative;
  &::after {
    content: attr(data-width);
    width: fit-content;
    background-color: black;
    padding: 2px 10px;
    color: white;
    font-size: 0.8em;
    border-radius: 5px;
    position: absolute;
    right: -20px;
    top: -30px;
  }
  &::before {
    content: "";
    border: 4px solid;
    border-color: black transparent transparent;
    position: absolute;
    right: -2px;
    top: -12px;
  }
}
.info .skills ul {
  margin-top: 30px;
}
.info .skills ul li {
  margin-bottom: 20px;
}

.quote {
  padding: calc(var(--section-padding) / 2) 0;
  background-image: url(../imges/quote.jpg);
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }
}
.quote q {
  color: white;
  font-size: 2em;
  margin-bottom: 70px;
  position: relative;
  &::before {
    content: "\f10d";
    font-family: "FontAwesome";
    margin-right: 15px;
  }
  &::after {
    content: "\f10e";
    font-family: "FontAwesome";
    margin-left: 15px;
  }
}
.quote span {
  display: flex;
  color: white;
  position: relative;
  justify-content: flex-end;
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 30px 100px 0 0;
}
.price {
  padding: var(--section-padding) 0;
}
.price .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 100px;
  gap: 30px;
}
.price .cards .card {
  text-align: center;
  background-color: rgb(15 116 143 / 28%);
  border-radius: 10px;
}
.price .card .start {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 20px;
  border-radius: 10px;

}
.price .card span {
  text-transform: uppercase;
  margin-top: 10px;
  display: block;
  font-size: 1.4rem;
}
.price .card h1 {
  font-size: 4em;
  position: relative;
  width: fit-content;
  margin: 20px auto;
  &::before {
    content: "$";
    font-size: 2rem;
    top: -10px;
    position: absolute;
    left: -15px;
  }
  &::after {
    content: "/MO";
    font-size: 1rem;
    position: absolute;
    bottom: 0;
  }
}
.price .card ul {
  /* padding: 20px; */
  border-bottom: 1px solid var(--main-color);
}
.price .card ul li {
  padding: 20px;
  position: relative;
  font-weight: bold;
  &::before {
    content: "\f058";
    font-family: fontawesome;
    padding: 10px;
    background-color: var(--main-color);
    margin-right: 10px;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

color: #00fd15;


  }
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 1px;
    width: 60%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

}
.price .end {
  padding: 30px;
}
.price .end button {
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 10px;

} 
.price .contact-info {
  margin-top: 40px;
  text-align: center;
  font-size: 1.5rem;
}
.price .contact-info p {
  margin-bottom: 20px;
}

.price .contact-info button {
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 10px;

}