* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
header .container .logo {
  width: 50px;
}
header .container .link {
  position: relative;
}
header .container .link:hover .icon span:nth-child(2) {
  width: 100%;
  transition: var(--main-duration);
}
header .container .link .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .container .link .icon span {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
}
header .container .link .icon span:nth-child(2) {
  width: 80%;
}
header .container .link ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--section-background);
  min-width: 150px;
  top: 30px;
  right: 0;
  display: none;
  z-index: 1;
}
header .container .link:hover ul {
  display: block;
}
header .container .link ul::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent var(--section-background);
  right: 0;
  top: -20px;
}
header .container .link ul li a {
  padding: 10px;
  display: block;
  width: 100%;
  color: #333;
  text-decoration: none;
}
header .container .link ul li:not(:last-child) {
  border-bottom: 1px solid #a0a0a0;
}
header .container .link ul li:hover a {
  padding-left: 20px;
  transition: var(--main-duration);
  color: var(--main-color);
}
.landing {
  height: calc(100vh - 40px);
  background-image: url(/Photo/landing.jpg);
  background-size: cover;
}
.landing .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .container .text-intro {
  width: 400px;
  max-width: 400px;
  text-align: center;
}
.landing .container .text-intro h1 {
  color: var(--main-color);
  text-transform: capitalize;
  margin-bottom: 1em;
  word-spacing: -7px;
  font-weight: 900;
}
.landing .container .text-intro p {
  color: var(--secondary-color);
}
.skills {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: var(--section-padding) 0px;
  gap: 20px;
}
.skills .container .card {
  text-align: center;
}
.skills .container .card i {
  color: var(--main-color);
}
.skills .container .card h3 {
  font-weight: 900;
  margin: 10px 0;
}
.skills .container .card p {
  color: var(--secondary-color);
  line-height: 1.7;
}
.sober-heading {
  text-align: center;
  font-weight: 900;
  font-size: 5em;
  color: #ebeced;
  letter-spacing: -4px;
}
.sober-heading + p {
  text-align: center;
  margin-top: -25px;
  font-size: 1.3em;
  color: #797979;
}
.contact,
.about,
.portfolio,
.services {
  padding: var(--section-padding) 0;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services-content .col .scr {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}
@media (max-width: 768px) {
  .services-content .col .scr {
    flex-direction: column;
  }
  .services-content .col .scr i {
    text-align: center;
    color: var(--main-color);
  }
  .services-content .col .scr .text {
    text-align: center;
  }
}
.services-content .col .scr i {
  text-align: center;
  color: var(--main-color);
}
.services-content .col .scr .text {
  flex-grow: 1;
}
.services-content .col .scr .text h3 {
  margin: 0 0 30px;
}
.services-content .col .scr .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services-content .col:last-child img {
  width: 260px;
}
.services-content .col:last-child {
  position: relative;
}
.services-content .col:last-child::before {
  content: "";
  position: absolute;
  border: solid 50px var(--secondary-color);
  height: 100%;
  top: -60px;
  left: 200px;
  z-index: -1;
}
@media (max-width: 1200px) {
  .services-content .col:last-child {
    display: none;
  }
}
.portfolio {
  background-color: var(--section-background);
}

.portfolio-contant {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: var(--section-padding) 0;
  margin-top: 100px;
}
.portfolio-contant .card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.portfolio-contant .card img {
  border-radius: 10px;
  max-width: 100%;
}
.portfolio-contant .card .card-info {
  margin: 20px 0 0;
  padding: 10px;
}
.portfolio-contant .card .card-info h3 {
  margin: 0;
  text-transform: capitalize;
  color: #333;
  /* font-weight: 900; */
}
.portfolio-contant .card .card-info p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
/* ------------------------ */
.about-contant {
  margin-top: 100px;
  display: flex;
}
.about-contant .img {
  width: 260px;
  height: 375px;
  position: relative;
  &::after {
    content: "";
    height: calc(100% + 80px);
    width: 100px;
    background-color: var(--section-background);
    position: absolute;
    left: -30px;
    top: -30px;
    z-index: -1;
  }
  &::before {
    content: "";
    height: 80%;
    width: 100px;
    position: absolute;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    right: -120px;
    top: -30px;
    z-index: -1;
  }
}
@media (max-width: 797px) {
  .about-contant .img {
    &::after,
    &::before {
      display: none;
    }
  }
}
.about-contant .img img {
  width: 100%;
}
.about-contant .info {
  padding-left: 60px;
  flex-grow: 1;
  flex-basis: calc(100% - 500px);
}
.about-contant .info p:first-of-type {
  color: #444;
  font-weight: 800;
  line-height: 1.6;
}
.about-contant .info :nth-child(2) {
  margin: 30px auto;
  width: 80%;
  border: 1px solid var(--main-color);
}
.about-contant .info p:last-of-type {
  color: #444444d3;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 797px) {
  .about-contant {
    flex-direction: column;
  }
  .about-contant .img {
    margin: 0 auto 60px;
  }
  .about-contant .info {
    text-align: center;
    padding-left: 0;
  }
}
/* @media (max-width: 500px) {
  .sober-heading {
    font-size: 3.5em;
  }
  .sober-heading + p {
    margin-top: -20px;
    font-size: 0.9em;
  }
  .contact-contant,
  .about-contant,
  .portfolio-contant,
  .services-content {
    margin-top: 30px;
  }
} */
.contact {
  background-color: var(--section-background);
}
.contact-contant {
  margin-top: 100px;
}
.contact-contant > p,
.contact-contant a {
  display: block;
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  font-weight: 800;
  word-spacing: -6px;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.contact-contant a {
  color: var(--main-color);
  font-size: 1.5em;
}
@media (max-width: 787px) {
  .contact-contant > p,
  .contact-contant a {
    font-size: 1.5em;
  }
  .contact-contant a {
    font-size: 1.4em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.contact-contant .social {
  display: flex;
  justify-content: center;
}
.contact-contant .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
footer {
  height: 50px;
  background-color: var(--secondary-color);
}
footer .container {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p :first-child {
    color: var(--main-color);
    font-weight: 800;
  }
}
